**.DS_Store
src/InventoryManagement/.idea
src/InventoryManagement/out
src/InventoryManagement/InventoryManagement.iml
src/InventoryManagement/InventoryManagement.eml
src/InventoryManagement/loginInformation
